/.plot_function.log
/plot-temperatures.ipynb
/plot_temp.sh
/plot_temp.sh~
/rt32-struct-temp-monitor-line-lab-cooling-heating-test.csv
/rt32-struct-temp-monitor-line-lab-cooling-heating-test.jpg
/test.dat
/test.dat~
/test.jpg
