[Unit]
Description=focus cabin UDP datagrams saver
Wants=network-online.target

[Service]
User=meteo
# The configuration file application.properties should be here:

#change this to your workspace
WorkingDirectory=/home/meteo/electric

#path to executable. 
#executable is a bash script which calls jar fileExecStart=/home/ubuntu/workspace/my-webapp
ExecStart=/usr/local/bin/save-focus-box-meteo.py --serverUDP
#Requires=ntpdate

SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=10
[Install]
WantedBy=multi-user.target
