/__init__.cpython-36.pyc
/config_file.cpython-36.pyc
/modbusCommunication.cpython-36.pyc
/UDPdatagrams.cpython-36.pyc
/__init__.cpython-38.pyc
/config_file.cpython-38.pyc
/UDPdatagrams.cpython-38.pyc
